{% extends 'core/base.html' %}

{% block title %}
<title>Password Recovery</title>
{% endblock title %}


{% block content %}

{% include 'core/nav.html' %}

{% if messages %}
{% for k in messages %} 


    
    {% if k.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <strong>{{k}}</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endif %}

    {% endfor %}

   {% endif %}

<div class="mt-2 container">

    <h1 class="display-5">
        <span class="text-success">P</span>assword <span class="text-success">R</span>ecover <i class="fas fa-key"></i>
    </h1>
    <hr class="text-success">
</div>


<div class="container mt-2">

    <div class="row">

       {% if askemail %}
       
       <div class="col-sm-8 alert alert-info">

        {% if messages %}

        <p class="text-danger"><b>Invalid Credentials</b></p>

        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
        <label for="email">Enter Your Email Id</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required>

        <select name="gender" id="gender" class="form-control mt-2">

            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="transgender">Transgender</option>
        </select>

            <input type="submit" value="Proceed" class="btn btn-primary mt-2">
    </form>
</div>
    {% else %}
    <div class="col-sm-8 alert alert-info">
        {% if messages %}

        <p class="text-danger"><b>Password does not match with Confirm password..</b></p>

        {% endif %}
        <form action="/user/check/for/recovery/{{email}}/" method="post">

            {% csrf_token %}
        <label for="password">Enter New Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control" required>

        <label for="cnfpassword">Enter New Confirm Password</label>
        <input type="password" name="cnfpassword" id="cnfpassword" placeholder="Confirm Password" class="form-control" required>
        

            <input type="submit" value="Proceed" class="btn btn-primary mt-2">
    </form>
</div>

       
       {% endif %}




       


        <div class="col-sm-4 alert alert-success">
            <a href="{% url 'newuser' %}" class="btn btn-outline-info mt-2">Create Account</a> <br>
            <a href="{% url 'login' %}" class="btn btn-outline-success mt-2">Log In</a>
        </div>
    </div>

</div>

{% endblock content %}