<div class="mt-2 bg-success" style='height:350px;'>

    <div class="text-center">

        <p class="text-light text-center">
            <i class="fa-solid fa-bookmark"></i>  BookMarks
        </p>

        <p class="text-light text-center">
            <a href="" class="text-light"> <i class="fa-brands fa-github"></i> Github</a>

          
            
        </p>


        <p class="text-light text-center">
            <a href="" class="text-light"> <i class="fa-solid fa-envelope"></i> Mail us</a>
        </p>

        <p class="text-light text-center">
            <a href="" class="text-light"> <i class="fas fa-phone"></i> Call us</a>
        </p>

        <p class="text-light text-center">
            All rights © reserved 
        </p>
    </div>

 

</div>