<div class="mt-2 bg-success" style='height:350px;'>

    <div class="text-center">

        <p class="text-light text-center">
            <i class="fa-solid fa-bookmark"></i>  BookMarks
        </p>

        <p class="text-light text-center">
            <a href="https://github.com/incredible-India" class="text-light" blank="true" > <i class="fa-brands fa-github"></i> Github</a>

          
            
        </p>


        <p class="text-light text-center">
            <a href="mailto:himanshu399231@gmail.com" class="text-light" blank="true" > <i class="fa-solid fa-envelope"></i> Mail us</a>
        </p>

        <p class="text-light text-center">
            <a href="tel:8604470501" class="text-light" blank="true" > <i class="fas fa-phone"></i> Call us</a>
        </p>

        <p class="text-light text-center">
            All rights © reserved 
        </p>
    </div>

 

</div>