.title{
    font-size:45px;
    letter-spacing: 3px;
}

.user{
    
    border: 2px solid greenyellow;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}


::-webkit-scrollbar{

    width: 5px;
  }

  ::-webkit-scrollbar-thumb{
    
    background-image: linear-gradient(white,green);
   
      border-radius: 20px;
  }